* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
}

a {
  color: #888888;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;

}

a:hover{
  color: #000000;
}